<div class="sb-nav-fixed">
    <!--Barra de navegacion principal-->
    <nav
        class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white shadow">
        <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i
                class="fas fa-bars"></i></button>
        <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/dashboardE"><strong>TaskGroup - Estudiantes</strong></a>
        <form class="form-inline me-auto d-none d-lg-block me-3">
            <div class="input-group input-group-joined input-group-solid">
                <input class="form-control pe-0" type="search" placeholder="Buscar" aria-label="Buscar">
                <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
        </form>
        <ul class="navbar-nav align-items-center ms-auto">
            <!-- Navbar Search Dropdown-->
            <!-- * * Note: * * Visible only below the lg breakpoint-->
            <li class="nav-item dropdown no-caret me-3 d-lg-none">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fa-solid fa-magnifying-glass"></i></a>
                <!-- Dropdown - Search-->
                <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline me-auto w-100">
                        <div class="input-group input-group-joined input-group-solid">
                            <input class="form-control pe-0" type="text" placeholder="Buscar por..." aria-label="Buscar"
                                aria-describedby="basic-addon2">
                            <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                        </div>
                    </form>
                </div>
            </li>
            <!-- Alerts Dropdown-->
            <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts"
                    href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-bell">
                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                    </svg></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                    aria-labelledby="navbarDropdownAlerts">
                    <h6 class="dropdown-header dropdown-notifications-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-bell me-2">
                            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                        </svg>
                        Centro de Alerta
                    </h6>
                    <!-- Example Alert 1-->
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <div class="dropdown-notifications-item-icon bg-warning"><svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-activity">
                                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                            </svg></div>
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-details">December 29, 2021</div>
                            <div class="dropdown-notifications-item-content-text">This is an alert message. It's nothing
                                serious, but
                                it requires your attention.</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-footer" href="#!">Ver todas las alertas</a>
                </div>
            </li>
            <!-- User Dropdown-->
            <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
                    href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><img class="img-fluid" src="../assets/img/perfil.png"></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                    aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="../assets/img/perfil.png">
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">{{ usuario }}</div>
                            <div class="dropdown-user-details-email">{{ correo }}</div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/perfilE">
                        <div class="dropdown-item-icon"><i class="fa-regular fa-gear"></i></div>
                        Perfil
                    </a>
                    <a class="dropdown-item" (click)="clearLocalStorage()" href="/login">
                        <div class="dropdown-item-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                        Cerrar Sesión
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sidenav shadow-right sidenav-light">
                <div class="sidenav-menu">
                    <div class="nav accordion" id="accordionSidenav">
                        <!-- Sidenav Menu Heading (Account)-->
                        <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                        <div class="sidenav-menu-heading d-sm-none">Cuenta</div>

                        <!-- Sidenav Menu Heading (Home)-->
                        <div class="sidenav-menu-heading">Inicio</div>
                        <!-- Sidenav Accordion (Dashboard)-->
                        <a class="nav-link" href="/dashboardE">
                            <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                                    <line x1="12" y1="20" x2="12" y2="10"></line>
                                    <line x1="18" y1="20" x2="18" y2="4"></line>
                                    <line x1="6" y1="20" x2="6" y2="16"></line>
                                </svg></div>
                            Dashboard
                            <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>
                        </a>
                        <!-- Sidenav Heading (Custom)-->
                        <div class="sidenav-menu-heading">Grupos</div>
                        <!-- Sidenav Accordion (Pages)-->
                        <a class="nav-link" href="charts.html">
                            <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                                    <line x1="12" y1="20" x2="12" y2="10"></line>
                                    <line x1="18" y1="20" x2="18" y2="4"></line>
                                    <line x1="6" y1="20" x2="6" y2="16"></line>
                                </svg></div>
                            Ver grupos actuales
                            <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>
                        </a>
                        <!-- Sidenav Heading (Custom)-->
                        <div class="sidenav-menu-heading">Encuesta</div>
                        <!-- Sidenav Accordion (Pages)-->
                        <a class="nav-link" href="/encuesta">
                            <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                                    <line x1="12" y1="20" x2="12" y2="10"></line>
                                    <line x1="18" y1="20" x2="18" y2="4"></line>
                                    <line x1="6" y1="20" x2="6" y2="16"></line>
                                </svg></div>
                            Encuesta de actitud
                            <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>
                        </a>
                        <!-- Sidenav Heading (UI Toolkit)-->
                        <div class="sidenav-menu-heading">Proyectos</div>
                        <!-- Sidenav Accordion (Layout)-->
                        <a class="nav-link" href="charts.html">
                            <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                                    <line x1="12" y1="20" x2="12" y2="10"></line>
                                    <line x1="18" y1="20" x2="18" y2="4"></line>
                                    <line x1="6" y1="20" x2="6" y2="16"></line>
                                </svg></div>
                            Proyectos asignados
                            <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>
                        </a>
                        <!-- Sidenav Link (Tables)-->
                        <a class="nav-link" href="tables.html">
                            <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                </svg></div>
                            Subir Trabajo
                            <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>
                        </a>
                        <!-- Sidenav Heading (Addons)-->
                        <div class="sidenav-menu-heading">Colaboración</div>
                        <a class="nav-link" href="charts.html">
                            <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                                    <line x1="12" y1="20" x2="12" y2="10"></line>
                                    <line x1="18" y1="20" x2="18" y2="4"></line>
                                    <line x1="6" y1="20" x2="6" y2="16"></line>
                                </svg></div>
                            Mensajería
                            <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>
                        </a>
                        <!-- Sidenav Link (Tables)-->
                        <a class="nav-link" href="tables.html">
                            <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                </svg></div>
                            Tareas del grupo
                            <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>
                        </a>
                    </div>
                </div>
                <!-- Sidenav Footer-->
                <div class="sidenav-footer">
                    <div class="sidenav-footer-content">
                        <div class="sidenav-footer-subtitle">Inició sesión como:</div>
                        <div class="sidenav-footer-title">{{ usuario }}</div>
                    </div>
                </div>
            </nav>
        </div>
        <!--Cuerpo de la pagina-->
        <div id="layoutSidenav_content">
            <main>
                <!--Aqui va lo que tendra el cuerpo de la pagina-->
                <title>Preguntas de Selección</title>

                <div class="container mt-5">
                    <h1 class="text-center"><strong>Examen para saber las aptitudes</strong></h1>

                    <br>
                    <form (submit)="submitForm($event)">
                        <div class="card mb-4">
                            <div class="card-header">
                                Un proyecto de grupo debe entregarse en una semana y el equipo aún no ha comenzado. ¿Qué
                                haces?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1a"
                                        value="a"  (change)="onAnswerChange(1, 'a')">
                                    <label class="form-check-label" for="pregunta1a">Tomo la iniciativa y organizo al
                                        equipo
                                        para que comencemos cuanto antes.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1b"
                                        value="b"  (change)="onAnswerChange(1, 'b')">
                                    <label class="form-check-label" for="pregunta1b">Espero a que alguien más tome la
                                        iniciativa, pero estoy dispuesto a colaborar.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1c"
                                        value="c"  (change)="onAnswerChange(1, 'c')">
                                    <label class="form-check-label" for="pregunta1c">Empiezo a trabajar por mi cuenta y
                                        presento mis avances al grupo.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1d"
                                        value="d"  (change)="onAnswerChange(1, 'd')">
                                    <label class="form-check-label" for="pregunta1d">Hablo con el profesor para pedir
                                        orientación.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                Tienes un examen importante mañana y aún no has estudiado. ¿Cómo te preparas?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2a"
                                        value="a"  (change)="onAnswerChange(2, 'a')">
                                    <label class="form-check-label" for="pregunta2a">Hago un plan de estudio detallado y
                                        sigo el horario estrictamente.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2b"
                                        value="b"  (change)="onAnswerChange(2, 'b')">
                                    <label class="form-check-label" for="pregunta2b">Reviso mis notas y confío en lo que
                                        recuerdo de las clases.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2c"
                                        value="c"  (change)="onAnswerChange(2, 'c')">
                                    <label class="form-check-label" for="pregunta2c">Estudio con amigos para
                                        intercambiar
                                        conocimientos y dudas.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2d"
                                        value="d"  (change)="onAnswerChange(2, 'd')">
                                    <label class="form-check-label" for="pregunta2d">Busco resúmenes y material
                                        adicional en
                                        internet para una comprensión rápida.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                Durante una discusión en clase, alguien presenta un punto de vista completamente opuesto
                                al
                                tuyo. ¿Qué haces?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3a"
                                        value="a" (change)="onAnswerChange(3, 'a')">
                                    <label class="form-check-label" for="pregunta3a">Defiendo mi punto de vista con
                                        argumentos sólidos.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3b"
                                        value="b" (change)="onAnswerChange(3, 'b')">
                                    <label class="form-check-label" for="pregunta3b">Escucho atentamente y trato de
                                        entender
                                        su perspectiva.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3c"
                                        value="c" (change)="onAnswerChange(3, 'c')">
                                    <label class="form-check-label" for="pregunta3c">Evito la confrontación y cambio de
                                        tema.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3d"
                                        value="d" (change)="onAnswerChange(3, 'd')">
                                    <label class="form-check-label" for="pregunta3d">Investigo más sobre el tema para
                                        tener
                                        una mejor base en futuras discusiones.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                Te piden que organices un evento escolar. ¿Cómo procedes?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta4" id="pregunta4a"
                                        value="a" (change)="onAnswerChange(4, 'a')">
                                    <label class="form-check-label" for="pregunta4a">Diseño un plan detallado y delego
                                        tareas específicas a cada miembro del equipo.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta4" id="pregunta4b"
                                        value="b" (change)="onAnswerChange(4, 'b')">
                                    <label class="form-check-label" for="pregunta4b">Recojo ideas de todos y busco
                                        consenso antes de tomar decisiones.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta4" id="pregunta4c"
                                        value="c" (change)="onAnswerChange(4, 'c')">
                                    <label class="form-check-label" for="pregunta4c">Me aseguro de que el evento sea
                                        divertido y participativo para todos.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta4" id="pregunta4d"
                                        value="d" (change)="onAnswerChange(4, 'd')">
                                    <label class="form-check-label" for="pregunta4d">Me enfoco en los aspectos técnicos
                                        y
                                        logísticos para asegurar el éxito del evento.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                Un amigo te pide ayuda con un tema que no entiendes bien. ¿Cómo reaccionas?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta5" id="pregunta5a"
                                        value="a" (change)="onAnswerChange(5, 'a')">
                                    <label class="form-check-label" for="pregunta5a">Le digo que no puedo ayudar, pero
                                        le
                                        sugiero a alguien que sí puede.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta5" id="pregunta5b"
                                        value="b" (change)="onAnswerChange(5, 'b')">
                                    <label class="form-check-label" for="pregunta5b">Intento ayudarlo lo mejor que puedo
                                        y
                                        busco recursos juntos.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta5" id="pregunta5c"
                                        value="c" (change)="onAnswerChange(5, 'c')">
                                    <label class="form-check-label" for="pregunta5c">Le sugiero que busquemos la
                                        información
                                        y aprendamos juntos.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta5" id="pregunta5d"
                                        value="d" (change)="onAnswerChange(5, 'd')">
                                    <label class="form-check-label" for="pregunta5d">Me disculpo y explico que no tengo
                                        el
                                        conocimiento necesario para ayudar.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                En un trabajo en grupo, ¿cómo prefieres colaborar?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta6" id="pregunta6a"
                                        value="a" (change)="onAnswerChange(6, 'a')">
                                    <label class="form-check-label" for="pregunta6a">Prefiero liderar y asegurarme de
                                        que
                                        todo el mundo esté haciendo su parte.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta6" id="pregunta6b"
                                        value="b" (change)="onAnswerChange(6, 'b')">
                                    <label class="form-check-label" for="pregunta6b">Me adapto a lo que el grupo
                                        necesite,
                                        ya sea liderar o seguir.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta6" id="pregunta6c"
                                        value="c" (change)="onAnswerChange(6, 'c')">
                                    <label class="form-check-label" for="pregunta6c">Me enfoco en mi parte del trabajo y
                                        confío en que los demás harán lo suyo.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta6" id="pregunta6d"
                                        value="d" (change)="onAnswerChange(6, 'd')">
                                    <label class="form-check-label" for="pregunta6d">Busco contribuir con ideas y apoyar
                                        en
                                        lo que sea necesario.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                ¿Cómo reaccionas ante un cambio inesperado en tus planes?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta7" id="pregunta7a"
                                        value="a" (change)="onAnswerChange(7, 'a')">
                                    <label class="form-check-label" for="pregunta7a">Me siento frustrado pero
                                        rápidamente
                                        hago un nuevo plan.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta7" id="pregunta7b"
                                        value="b" (change)="onAnswerChange(7, 'b')">
                                    <label class="form-check-label" for="pregunta7b">Me adapto al cambio y busco
                                        soluciones
                                        creativas.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta7" id="pregunta7c"
                                        value="c" (change)="onAnswerChange(7, 'c')">
                                    <label class="form-check-label" for="pregunta7c">Me estreso pero trato de seguir
                                        adelante.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta7" id="pregunta7d"
                                        value="d" (change)="onAnswerChange(7, 'd')">
                                    <label class="form-check-label" for="pregunta7d">Busco apoyo en otros para manejar
                                        la
                                        situación.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                Tienes la oportunidad de elegir entre dos asignaturas optativas: una que es muy práctica
                                y
                                otra que es teórica. ¿Cuál eliges?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta8" id="pregunta8a"
                                        value="a" (change)="onAnswerChange(8, 'a')">
                                    <label class="form-check-label" for="pregunta8a">Elijo la práctica porque disfruto
                                        aplicar lo que aprendo.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta8" id="pregunta8b"
                                        value="b" (change)="onAnswerChange(8, 'b')">
                                    <label class="form-check-label" for="pregunta8b">Elijo la teórica porque me gusta
                                        profundizar en los conceptos.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta8" id="pregunta8c"
                                        value="c" (change)="onAnswerChange(8, 'c')">
                                    <label class="form-check-label" for="pregunta8c">Elijo la que creo que será más
                                        fácil.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta8" id="pregunta8d"
                                        value="d" (change)="onAnswerChange(8, 'd')">
                                    <label class="form-check-label" for="pregunta8d">Elijo la que me permita trabajar en
                                        equipo.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                Te sientes abrumado por las responsabilidades escolares y personales. ¿Cómo manejas el
                                estrés?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta9" id="pregunta9a"
                                        value="a" (change)="onAnswerChange(9, 'a')">
                                    <label class="form-check-label" for="pregunta9a">Hago una lista de tareas y las
                                        abordo
                                        una por una.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta9" id="pregunta9b"
                                        value="b" (change)="onAnswerChange(9, 'b')">
                                    <label class="form-check-label" for="pregunta9b">Hablo con amigos o familiares para
                                        desahogarme.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta9" id="pregunta9c"
                                        value="c" (change)="onAnswerChange(9, 'c')">
                                    <label class="form-check-label" for="pregunta9c">Tomo un descanso y me enfoco en
                                        actividades que me relajan.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta9" id="pregunta9d"
                                        value="d" (change)="onAnswerChange(9, 'd')">
                                    <label class="form-check-label" for="pregunta9d">Busco técnicas de manejo de estrés
                                        como
                                        la meditación o el ejercicio.</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                Se te pide que trabajes en un proyecto innovador. ¿Cómo enfocas la tarea?
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta10" id="pregunta10a"
                                        value="a" (change)="onAnswerChange(10, 'a')">
                                    <label class="form-check-label" for="pregunta10a">Investigo las tendencias actuales
                                        y
                                        desarrollo un plan innovador.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta10" id="pregunta10b"
                                        value="b" (change)="onAnswerChange(10, 'b')">
                                    <label class="form-check-label" for="pregunta10b">Colaboro con otros para generar
                                        ideas
                                        creativas.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta10" id="pregunta10c"
                                        value="c" (change)="onAnswerChange(10, 'c')">
                                    <label class="form-check-label" for="pregunta10c">Uso métodos tradicionales pero les
                                        doy
                                        un giro innovador.</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta10" id="pregunta10d"
                                        value="d" (change)="onAnswerChange(10, 'd')">
                                    <label class="form-check-label" for="pregunta10d">Me enfoco en asegurar que todas
                                        las
                                        ideas sean prácticas y realizables.</label>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary-soft text-primary" type="submit">Guardar Respuestas</button>
                    </form>
                </div>

                <div id="layoutAuthentication_footer">
                    <footer class="footer-admin mt-auto footer-light">
                        <div class="container-xl px-4">
                            <div class="row">
                                <div class="col-md-6 small">Derechos de Autor © Tu Website 2024</div>
                                <div class="col-md-6 text-md-end small">
                                    <a href="#!">Política de Privacidad</a>
                                    ·
                                    <a href="#!">Términos &amp; Condiciones</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </main>
        </div>
    </div>
</div>