<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon">
                                <i data-feather="user"></i>
                            </div>
                            Users List
                        
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-primary" href="user-management-groups-list.html">
                            <i class="me-1" data-feather="users"></i>
                            Manage Groups
                        
                        </a>
                        <a class="btn btn-sm btn-light text-primary" href="user-management-add-user.html">
                            <i class="me-1" data-feather="user-plus"></i>
                            Add New User
                        
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Groups</th>
                            <th>Joined Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Groups</th>
                            <th>Joined Date</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-1.png"/>
                                    </div>
                                    Tiger Nixon
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0b7f626c6e794b6e666a626725686466">[email &#160;protected]</a>
                            </td>
                            <td>Administrator</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                                <span class="badge bg-blue-soft text-blue">Developers</span>
                                <span class="badge bg-red-soft text-red">Marketing</span>
                                <span class="badge bg-purple-soft text-purple">Managers</span>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-2.png"/>
                                    </div>
                                    Garrett Winters
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="dfb8a8b6b1abbaadacba9fbab2beb6b3f1bcb0b2">[email &#160;protected]</a>
                            </td>
                            <td>Administrator</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                                <span class="badge bg-blue-soft text-blue">Developers</span>
                                <span class="badge bg-red-soft text-red">Marketing</span>
                                <span class="badge bg-purple-soft text-purple">Managers</span>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-3.png"/>
                                    </div>
                                    Ashton Cox
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d1b0a2b9a5bebfb291b4bcb0b8bdffb2bebc">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                                <span class="badge bg-red-soft text-red">Marketing</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-4.png"/>
                                    </div>
                                    Cedric Kelly
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="294a4c4d5b404a424c45694c44484045074a4644">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                                <span class="badge bg-purple-soft text-purple">Managers</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-5.png"/>
                                    </div>
                                    Airi Satou
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="99f8eaf8edf6ecd9fcf4f8f0f5b7faf6f4">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-6.png"/>
                                    </div>
                                    Brielle Williamson
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="305247595c5c59515d435f5e70555d51595c1e535f5d">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-1.png"/>
                                    </div>
                                    Herrod Chandler
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3f575e4d4d505b5c7f5a525e5653115c5052">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-2.png"/>
                                    </div>
                                    Rhona Davidson
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b1c3d9dedfd0d5d0c7d8d5c2dedff1d4dcd0d8dd9fd2dedc">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                                <span class="badge bg-purple-soft text-purple">Managers</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-3.png"/>
                                    </div>
                                    Colleen Hurst
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="beddd6cbcccdcafedbd3dfd7d290ddd1d3">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-blue-soft text-blue">Developers</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-4.png"/>
                                    </div>
                                    Sonya Frost
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d9aabfabb6aaad99bcb4b8b0b5f7bab6b4">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-5.png"/>
                                    </div>
                                    Jena Gaines
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7319161d1214121a1d160033161e121a1f5d101c1e">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-6.png"/>
                                    </div>
                                    Quinn Flynn
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3f4e59534651517f5a525e5653115c5052">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                                <span class="badge bg-purple-soft text-purple">Managers</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-1.png"/>
                                    </div>
                                    Charde Marshall
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e083888192848d81929388a0858d81898cce838f8d">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-green-soft text-green">Sales</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-2.png"/>
                                    </div>
                                    Haley Kennedy
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="83ebe8e6edede6e7fac3e6eee2eaefade0ecee">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-3.png"/>
                                    </div>
                                    Tatyana Fitzpatrick
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a1e0b1e0c031e102a0f070b030644090507">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-4.png"/>
                                    </div>
                                    Michael Silva
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c2afaba1aaa3a7aeb1abaeb4a382a7afa3abaeeca1adaf">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-blue-soft text-blue">Developers</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-5.png"/>
                                    </div>
                                    Paul Byrd
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7303110a011733161e121a1f5d101c1e">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-6.png"/>
                                    </div>
                                    Gloria Little
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="56313a39243f373a3f22223a3316333b373f3a7835393b">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-blue-soft text-blue">Developers</span>
                                <span class="badge bg-purple-soft text-purple">Managers</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-1.png"/>
                                    </div>
                                    Bradley Greer
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7b191c091e1e093b1e161a121755181416">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-2.png"/>
                                    </div>
                                    Dai Rios
                                
                                </div>
                            </td>
                            <td>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ec889e85839fac89818d8580c28f8381">[email &#160;protected]</a>
                            </td>
                            <td>Registered</td>
                            <td>
                                <span class="badge bg-blue-soft text-blue">Developers</span>
                            </td>
                            <td>20 Jun 2021</td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html">
                                    <i data-feather="edit"></i>
                                </a>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>