<div class="bg-primary-soft">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-xl px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <!-- Formulario de Login-->
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header justify-content-center">
                                    <h3 class="fw-light my-4">Iniciar Sesión</h3>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <!-- Correo-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">Correo</label>
                                            <input class="form-control" id="inputEmailAddress" type="email"
                                                placeholder="Ingrese su correo electronico" />
                                        </div>
                                        <!-- Contraseña-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputPassword">Contraseña</label>
                                            <input class="form-control" id="inputPassword" type="password"
                                                placeholder="Ingrese su contraseña" />
                                        </div>
                                        <!-- Recordar contraseña-->
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" id="rememberPasswordCheck"
                                                    type="checkbox" value="" />
                                                <label class="form-check-label" for="rememberPasswordCheck">Recordar contraseña</label>
                                            </div>
                                        </div>
                                        <!-- Caja de ingreso-->
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/recuperacion">¿Has olvidado tu contraseña?</a>
                                            <a class="btn btn-primary" href="/dashboardP">Ingreso</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="/registro">¿Necesitas una cuenta? ¡Inscribete!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="footer-admin mt-auto footer-light">
                <div class="container-xl px-4">
                    <div class="row">
                        <div class="col-md-6 small">Derechos de Autor © Tu Website 2024</div>
                        <div class="col-md-6 text-md-end small">
                            <a href="#!">Política de Privacidad</a>
                            ·
                            <a href="#!">Términos &amp; Condiciones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>