<div class="bg-primary-soft">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-xl px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <!-- Formulario de registro-->
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header justify-content-center">
                                    <h3 class="fw-light my-4">Creación de Cuenta</h3>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                                        <div class="row gx-3">
                                            <div class="col-md-6">
                                                <!-- Nombre-->
                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputFirstName">Nombre</label>
                                                    <input class="form-control" formControlName="names" id="inputFirstName" type="text"
                                                        placeholder="Ingrese su nombre" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- Apellido-->
                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputLastName">Apellido</label>
                                                    <input class="form-control" formControlName="last_names" id="inputLastName" type="text"
                                                        placeholder="Ingrese su apellido" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">Tipo de Usuario</label>
                                            &nbsp;<button class="btn btn-secundary dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                {{ selectedOption }} <!-- Aquí se muestra la opción seleccionada -->
                                            </button>
                                            <ul class="dropdown-menu">
                                                <!-- Cada botón llama a la función selectOption() con el texto correspondiente -->
                                                <li><button class="dropdown-item" type="button"
                                                    (click)="selectOption('Estudiante')">Estudiante</button></li>
                                                <li><button class="dropdown-item" type="button"
                                                    (click)="selectOption('Profesor')">Profesor</button></li>
                                            </ul>
                                        </div>

                                        <!-- Correo-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">Correo</label>
                                            <input class="form-control" formControlName="email" id="inputEmailAddress" type="email"
                                                aria-describedby="emailHelp" placeholder="Ingrese su correo" />
                                        </div>
                                        <div class="row gx-3">
                                            <div class="col-md-6">
                                                <!-- Contraseña-->
                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputPassword">Contraseña</label>
                                                    <input class="form-control" formControlName="password" id="inputPassword" type="password"
                                                        placeholder="Ingrese una contraseña" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- Confirmar contraseña-->
                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputConfirmPassword">Confirmar
                                                        contraseña</label>
                                                    <input class="form-control" formControlName="confirmPassword" id="inputConfirmPassword"
                                                        type="password" placeholder="Confirme su contraseña" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Crear Cuenta-->
                                        <a class="btn btn-success btn-block" type="submit">Crear Cuenta</a>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="/login">¿Tienes una cuenta? Ir a iniciar
                                            sesión</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="footer-admin mt-auto footer-light">
                <div class="container-xl px-4">
                    <div class="row">
                        <div class="col-md-6 small">Derechos de Autor © Tu Website 2024</div>
                        <div class="col-md-6 text-md-end small">
                            <a href="#!">Política de Privacidad</a>
                            ·
                            <a href="#!">Términos &amp; Condiciones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>